table{
    table-layout: auto;
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    background-color: white;
    color: black;
    text-align: center;
}

thead{
    background-color: black;
    color: red;
}

td{
    border: 1px solid black;
    border-collapse: collapse;
    border-spacing: 0;
    
}