#header-grid {
    display: grid;
    grid-template-columns: auto auto auto;
    grid-column-gap: 10px;
    background-color: #333;
    color: #fff;
    padding: 20px;
}

.logo img {
    max-width: 40%;
    height: auto;
    border-radius: 10px;
}

#logo-unibo img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
}

.title {
    padding-top: 50px;
    padding-right: 110px;
    grid-column: 2; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

body, h1, h2, h3, p, ul, li {
    margin: 0;
    padding: 0;
}

.about-me {
    padding: 20px;
    margin: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #0000001a;
}

.about-me h2 {
    color: #333;
}

.about-me p {
    margin-bottom: 15px;
}

.about-me ul {
    list-style: disc;
    color: #333;
    padding: 10px;
}

.about-me li {
    margin-bottom: 10px;
}

.about-me a {
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
}
